{% include 'adminbase.html.twig' %}

{% block main %}
    <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.php" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="index.php" class="breadcrumb-link">Users</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
             
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- validation form -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">{{user.name}} account details</h5>
                                <div class="card-body">
                                    <form  method="post" action="">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">Name</label>
                                                <input type="text" class="form-control" id="validationCustom01" placeholder="firstname" value="{{user.name}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">email</label>
                                                <input type="text" class="form-control" id="validationCustom01" placeholder="email address" value="{{user.email}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">phone</label>
                                                <input type="text" class="form-control" id="validationCustom01" placeholder="phone number" value="{{user.phone}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">Total Balance</label>
                                                <input type="number" class="form-control" id="validationCustom01"  name="balance" placeholder="totalbalance" value="{{user.balance}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>
                                            
                                           

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">Total Deposit</label>
                                                <input type="text" class="form-control" id="validationCustom01" name="deposit" placeholder="Total Deposit" value="{{user.totaldeposit}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">Total Withdrawal</label>
                                                <input type="number" class="form-control" id="validationCustom01"  name="withdrawal" placeholder="total withdrawal" value="{{user.totalwithdrawal}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">Total Interest</label>
                                                <input type="number" class="form-control" id="validationCustom01"  name="interest" placeholder="Total Interest" value="{{user.totalinterests}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>

                                            

                                           
                                        
                                           
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">country</label>
                                                <input type="text" class="form-control" id="validationCustom01" name= "country" placeholder="Bonus" value="{{user.country}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>

                                            

                                            

                                             

                                             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">date of birth</label>
                                                <input type="text" class="form-control" id="validationCustom01" name= "country" placeholder="dob" value="{{user.dob}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>

                                             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">address</label>
                                                <input type="text" class="form-control" id="validationCustom01" name= "country" placeholder="address" value="{{user.address}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>

                                            

                                            


                                           
                                           
                                           
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">Registration Date</label>
                                                <input type="text" class="form-control" id="validationCustom01" placeholder="date" value="{{user.createdat|date('y - m - d')}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <label for="validationCustom01">Password</label>
                                                <input type="text" class="form-control" id="validationCustom01" placeholder="password" value="{{user.visiblepassword}}" required>
                                                <div class="valid-feedback">
                                                
                                                </div>
                                            </div>


                                        
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <input type="submit" class="btn btn-primary" name="update"  value="Update User">
                                            </div>

                                            
                                        

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                                <input type="submit" class="btn btn-primary" name="delete"  value="Delete User">
                                            </div>

                                        </div>
                                    </form>

                    
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end validation form -->
                        <!-- ============================================================== -->
                    </div>


                 
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
{% endblock %}
        
    